body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav {
  background: #e4d00a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

nav a {
  text-decoration: none;
}

table {
  width: 50%;
  margin: auto;
}

tr {
  border-bottom: solid 2px #00A36C;
}


.backEditDelete {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.Edit form {
  margin: auto;
  width: 95%;
}

.Edit form label{
  margin: auto;
  width: 95%;
}